*.db
*.obj
*.pdb
*.ilk
ipch/*
*.pch
*.ipch
*.idb
*.tlog
log_*
*.opendb
*.xml
*.exe
*.bak
*.log
server/.vs/
server/Debug/sysmonitor_server.pdb
server/sysmonitor_server/Debug/vc140.pdb
!**/server/packages/**/*.pdb
